# Database
DATABASE_URL=postgresql://user:password@localhost/prepcat

# JWT Secret
SECRET_KEY=your-secret-key-here-change-in-production

# Admin Credentials
ADMIN_EMAIL=adminkhizar@gmail.com
ADMIN_PASSWORD=admin
ADMIN_FULL_NAME=Admin Khizar

# Groq API (for AI Tutor)
GROQ_API_KEY=your-groq-api-key-here
GROQ_Model=llama-3.3-70b-versatile
