fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
alembic
cors
httpx
supabase
langchain-groq
langchain-community
langchain-core
ddgs>=9.14.0
